<div class="my-profile">
	<div class="header">
		<div class="head-img-container">
			<img ng-src="{{userInfo.headimgurl}}" />
		</div>
		<div class="name-container">
			{{userInfo.nickname}}
		</div>
	</div>

	<div class="main-panel">
		<div class="my-share">
			<div class="panel-header">
				<span>我的共享信息</span>
				<span class="pull-right">
					<span class="add-label">
						<a class="btn btn-primary btn-xs" ui-sref="newshare">添加</a>
					</span>
				</span>
				<span class="pull-right">
					<span>
					<a class="btn btn-success btn-xs" ui-sref="mymateriallist">更多</a>
					</span>
				</span>
			</div>
			<ul class="action-list">
				<div ng-repeat="(key, value) in myMaterials">
				<li ui-sref="importmaterial({id:value._id})" class="action-item" ng-if="value.org_url">
					<div>
						<div class="img-panel">
							<img src="img/default_material.jpg" ng-if="!value.serverId" />
						</div>
						<div class="item-panel">
							<div class="item-title">
								<span ng-if="value.org_url">{{(value.title||'导入的数据')|limitTo:12}}</span>
							</div>
							<div class="item-content">
								<span ng-if="value.org_url">{{(value.brif||'导入的数据，请点击查看')|limitTo:18}}</span>
							</div>
						</div>
					</div>
				</li>
				<li ui-sref="materialdetail({id:value._id})" class="action-item" ng-if="!value.org_url">
					<div>
						<div class="img-panel">
							<img src="img/default_material.jpg" ng-if="!value.serverId" />
							<img ng-src="http://file.api.weixin.qq.com/cgi-bin/media/get?access_token={{commonToken}}&media_id={{value.serverId}}" ng-if="value.img_is_local!='local'&&value.serverId"/ onerror="onerror=null;src='img/default_material.jpg'">
							<img ng-src="{{serverHost}}{{value.imgUrl}}" onerror="onerror=null;src='img/default_material.jpg'" ng-if="value.img_is_local=='local'"/>
						</div>
						<div class="item-panel">
							<div class="item-title">
								<span ng-if="!value.org_url">{{value.title|limitTo:12}}</span>
							</div>
							<div class="item-content">
								<span ng-if="!value.org_url">{{value.brif|limitTo:18}}</span>
							</div>
						</div>
					</div>
				</li>
				</div>
			</ul>
		</div>

		<div class="friends-share">
			<div class="panel-header">
				<span>朋友的共享信息</span>
				<span class="pull-right">
					<span>
					<a class="btn btn-success btn-xs" ui-sref="friendsmateriallist">更多</a>
					</span>
				</span>
			</div>
			<ul class="action-list">
				<div ng-repeat="(key, value) in friendsMaterials">
				<li ui-sref="importmaterial({id:value._id})" class="action-item" ng-if="value.org_url">
					<div>
						<div class="img-panel">
							<img src="img/default_material.jpg" ng-if="!value.serverId" />
						</div>
						<div class="item-panel">
							<div class="item-title">
								<span ng-if="value.org_url">{{(value.title||'导入的数据')|limitTo:12}}</span>
							</div>
							<div class="item-content">
								<span ng-if="value.org_url">{{(value.brif||'导入的数据，请点击查看')|limitTo:18}}</span>
							</div>
						</div>
						<div class="frind-info">
							<a ui-sref="userdetail({openid:value.openid})">{{value.userID.nickname||'匿名'}}
							</a> 
						</div>
					</div>
				</li>
				<li class="action-item" ng-if="!value.org_url">
					<div class="li-container">
						<div ui-sref="materialdetail({id:value._id})" class="img-panel">
						<img src="img/default_material.jpg" ng-if="!value.serverId" />
						<img ng-src="http://file.api.weixin.qq.com/cgi-bin/media/get?access_token={{commonToken}}&media_id={{value.serverId}}" ng-if="value.img_is_local!='local'&&value.serverId"/ onerror="onerror=null;src='img/default_material.jpg'">
						<img ng-src="{{serverHost}}{{value.imgUrl}}" onerror="onerror=null;src='img/default_material.jpg'" ng-if="value.img_is_local=='local'"/>
						</div>
						<!-- {{value.img_is_local=='local'?'本地':'网络'}} -->
						<div ui-sref="materialdetail({id:value._id})" class="item-panel">
							<div class="item-title">
								{{value.title|limitTo:12}}
							</div>
							<div class="item-content">
								{{value.brif|limitTo:18}}
							</div>
						</div>
						<div class="frind-info">
							<a ui-sref="userdetail({openid:value.openid})">{{value.userID.nickname||'匿名'}}
							</a> 
						</div>
					</div>
				</li>
				</div>
			</ul>
		</div>

		<div class="friends-share">
			<div class="panel-header">
				<span>别人的共享信息</span>
				<span class="pull-right">
					<span>
					<a class="btn btn-success btn-xs" ui-sref="othersmateriallist">更多</a>
					</span>
				</span>
			</div>
			<ul class="action-list">
				<div ng-repeat="(key, value) in othersMaterials">
					<li ui-sref="importmaterial({id:value._id})" class="action-item" ng-if="value.org_url">
						<div>
							<div class="img-panel">
								<img src="img/default_material.jpg" ng-if="!value.serverId" />
							</div>
							<div class="item-panel">
								<div class="item-title">
									<span ng-if="value.org_url">{{(value.title||'导入的数据')|limitTo:12}}</span>
								</div>
								<div class="item-content">
									<span ng-if="value.org_url">{{(value.brif||'导入的数据，请点击查看')|limitTo:18}}</span>
								</div>
							</div>
							<div class="frind-info">
								<a ui-sref="userdetail({openid:value.openid})">{{value.userID.nickname||'匿名'}}
								</a> 
							</div>
						</div>
					</li>
					<li class="action-item" ng-if="!value.org_url">
						<div class="li-container">
							<div ui-sref="materialdetail({id:value._id})" class="img-panel">
							<img src="img/default_material.jpg" ng-if="!value.serverId" />
							<img ng-src="http://file.api.weixin.qq.com/cgi-bin/media/get?access_token={{commonToken}}&media_id={{value.serverId}}" ng-if="value.img_is_local!='local'&&value.serverId"/ onerror="onerror=null;src='img/default_material.jpg'">
							<img ng-src="{{serverHost}}{{value.imgUrl}}" onerror="onerror=null;src='img/default_material.jpg'" ng-if="value.img_is_local=='local'"/>
							</div>
							<!-- {{value.img_is_local=='local'?'本地':'网络'}} -->
							<div ui-sref="materialdetail({id:value._id})" class="item-panel">
								<div class="item-title">
									{{value.title|limitTo:12}}
								</div>
								<div class="item-content">
									{{value.brif|limitTo:18}}
								</div>
							</div>
							<div class="frind-info">
								<a ui-sref="userdetail({openid:value.openid})">{{value.userID.nickname||'匿名'}}
								</a> 
							</div>
						</div>
					</li>
				</div>
			</ul>
		</div>


	</div>
</div>
