<html>
	<head>
		<style>
		body {margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;overflow: hidden;}
		</style>
	</head>
	<body>
		<div class="material-detail-container">
			<div class="item-title">
				{{value.title}}
				<span class="pull-right" ng-show="isMine"><button class="btn btn-success btn-xs" ui-sref="updateImport({id:value._id})">修改</button></span>
			</div>
		</div>
		<iframe ng-src='{{frameUrl}}' width='100%' height='50%' frameborder='0' name="_blank" id="_blank" ></iframe>
		<div class="material-detail-container">
			<div class="item-bottom">
				<a ng-href="{{value.product_href}}" ng-show="value.product_href">查看产品</a>
				<span ng-hide="value.custom_read_count">阅读数: {{readHistory|getSum:'count'}}</span>
				<span ng-show="value.custom_read_count">阅读数: {{value.custom_read_count+(readHistory|getSum:'count')}}</span>
			</div>
			<div ng-show="isMine">
				<div ng-show="readHistory.length" class="history-title">总被浏览记录</div>
				<div class="history-panel">
					<div class="history-item" ng-repeat="(key, value) in readHistory">
						<span class="head-img-panel"><img src="{{value.userID.headimgurl}}"></span>
						<span class="name-span">{{value.userID.nickname||'匿名'}}</span>
						<span class="view-history-span">{{value.count}}次</span>
						<span>{{value.time|date:'yyyy-MM-dd HH:mm:ss'}}</span>
					</div>
				</div>
			</div>
			<div ng-show="isMine">
				<div ng-show="myShareHistory.length" class="history-title">我的分享被浏览记录</div>
				<div class="history-panel">
					<div class="history-item" ng-repeat="(key, value) in myShareHistory">
						<span class="head-img-panel"><img src="{{value.userID.headimgurl}}"></span>
						<span class="name-span">{{value.userID.nickname||'匿名'}}</span>
						<span class="view-history-span">{{value.count}}次</span>
						<span>{{value.time|date:'yyyy-MM-dd HH:mm:ss'}}</span>
					</div>
				</div>
			</div>
			<div ng-show="isMine">
				<div ng-show="sharedHistory.length" class="history-title">总被分享记录</div>
				<div class="history-panel">
					<div class="history-item" ng-repeat="(key, value) in sharedHistory">
						<span class="head-img-panel"><img src="{{value.userID.headimgurl}}"></span>
						<span class="name-span">{{value.userID.nickname||'匿名'}}</span>
						<span class="view-history-span">{{value.count}}次</span>
						<span>{{value.time|date:'yyyy-MM-dd HH:mm:ss'}}</span>
					</div>
				</div>
			</div>
			<div ng-show="isMine">
				<div ng-show="shareMyshared.length" class="history-title">帮我的分享记录</div>
				<!-- <div>{{shareMyshared|json}}</div> -->
				<div class="history-panel">
					<div class="history-item" ng-repeat="(key, value) in shareMyshared">
						<span class="head-img-panel"><img src="{{value.userID.headimgurl}}"></span>
						<span class="name-span">{{value.userID.nickname||'匿名'}}</span>
						<span class="view-history-span">{{value.count}}次</span>
						<span>{{value.time|date:'yyyy-MM-dd HH:mm:ss'}}</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>